.container{
    width: 42px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1.5px solid #53c28b70;
    border-radius: 30px;
    align-items: center;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.icon{
    font-size: 12px;
}
.green{
    height: 15px;
    width: 15px;
    background-color: aquamarine;
    position: absolute;
    border-radius: 50%;

}


.button{

    background: transparent;
    border: none;
}